{
    "extends": [
        "prettier",
        "airbnb-base"
    ],
    "plugins": [
        "import",
        "prettier"
    ],
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "prettier/prettier": "error"
    },
    "env": {
        "jest": true
    }
}
